////////////////////////////////////////
//          SUBMITTED
////////////////////////////////////////

#panel-submitted.input-panel-submitted.center-aligned(style={display: 'none'})
    h4  #{__('mgrp-submitted-line-1')}
    h4  #{__('mgrp-submitted-line-2')}
    h4  #{__('mgrp-submitted-line-3')}
    br
    br
    a(href='/registration-platform/register') #{__('mgrp-submitted-line-4')}

