// Review
#panel-7.input-panel.center-aligned(name='review', style={display: 'none'})
    h4(data-i18n='mgrp-header-review') Review
    p.explanation(data-i18n="mgrp-header-review-explanation")
    br 
    // Personal Data
    .answer-container.large
        h5(data-i18n='mgrp-header-personal-data', data-i18n-noreplace)
            a(href='#panel-1'): i.edit-answer
        .row
            label.answer(data-i18n="mgrp-lbl-first-name") 
            p.form-answer(field='first_name')
        .row
            label.answer(data-i18n="mgrp-lbl-last-name") 
            p.form-answer(field='last_name')
        .row
            label.answer(data-i18n="mgrp-lbl-country") 
            p.form-answer(field='country')
        .row
            label.answer(data-i18n="mgrp-lbl-city") 
            p.form-answer(field='city')
        .row
            label.answer(data-i18n="mgrp-lbl-street") 
            p.form-answer(field='street')
        .row
            label.answer(data-i18n="mgrp-lbl-number") 
            p.form-answer(field='number')
        .row
            label.answer(data-i18n="mgrp-lbl-zip") 
            p.form-answer(field='zip')
        .row
            label.answer(data-i18n="mgrp-lbl-email") 
            p.form-answer(field='email')
        .row
            label.answer(data-i18n="mgrp-lbl-phone") 
            p.form-answer(field='phone')
    // Pre-Injury
    .answer-container.large
        h5(data-i18n='mgrp-header-pre-injury', data-i18n-noreplace)
            a(href='#panel-2'): i.edit-answer
        .row
            label.answer(data-i18n="mgrp-lbl-metal-implant") 
            p.form-answer(field='metal_implant')
        .row
            label.answer(data-i18n="mgrp-lbl-pacemaker") 
            p.form-answer(field='pacemaker')
        .row
            label.answer(data-i18n="mgrp-lbl-medication-pump") 
            p.form-answer(field='medication_pump')
        .row
            label.answer(data-i18n="mgrp-lbl-stroke") 
            p.form-answer(field='stroke')
        .row
            label.answer(data-i18n="mgrp-lbl-epilepsy") 
            p.form-answer(field='epilepsy')
        .row
            label.answer(data-i18n="mgrp-lbl-long-term-care") 
            p.form-answer(field='long_term_care')
    // Injury Details        
    .answer-container.large
        h5(data-i18n='mgrp-header-injury', data-i18n-noreplace)
            a(href='#panel-3'): i.edit-answer
        .row
            label.answer(data-i18n="mgrp-lbl-date-of-injury") 
            p.form-answer(field='date_injury')
        .row
            label.answer(data-i18n="mgrp-lbl-caused-by-accident") 
            p.form-answer(field='accidental_injury')
    // Current Abilities
    .answer-container.large
        h5(data-i18n='mgrp-header-abilities', data-i18n-noreplace) 
            a(href='#panel-4'): i.edit-answer
        .row
            label.answer(data-i18n="mgrp-lbl-hand-to-mouth") 
            p.form-answer(field='hand_to_mouth')
        .row
            label.answer(data-i18n="mgrp-lbl-glass-to-mouth") 
            p.form-answer(field='glass_to_mouth')
        .row
            label.answer(data-i18n="mgrp-lbl-extend wrist") 
            p.form-answer(field='extend_wrist')
        .row
            label.answer(data-i18n="mgrp-lbl-improve-grasp") 
            p.form-answer(field='need_improve_grasp')
    // Video
    .answer-container.large
        h5(data-i18n='mgrp-header-video', data-i18n-noreplace)
            a(href='#panel-5'): i.edit-answer
        .row
            //label.answer(data-i18n="mgrp-lbl-hand-to-mouth") 
            //p.form-answer(field='hand_to_mouth')
    // Misc
    .answer-container.large
        h5(data-i18n='mgrp-header-misc', data-i18n-noreplace)
            a(href='#panel-6'): i.edit-answer
        label.answer(data-i18n='mgrp-misc-q1')
        .row
            label.answer.secondary(data-i18n="mgrp-misc-q1-opt-doctor") 
            p.form-answer(field='q1_doctor')
        .row
            label.answer.secondary(data-i18n="mgrp-misc-q1-opt-caregiver") 
            p.form-answer(field='q1_caregiver')
        .row
            label.answer.secondary(data-i18n="mgrp-misc-q1-opt-relative") 
            p.form-answer(field='q1_relative')
        .row
            label.answer.secondary(data-i18n="mgrp-misc-q1-opt-internet") 
            p.form-answer(field='q1_internet')
        .row
            label.answer.secondary(data-i18n="mgrp-misc-q1-opt-tv") 
            p.form-answer(field='q1_tv')
        .row
            label.answer.secondary(data-i18n="mgrp-misc-q1-opt-other") 
            p.form-answer(field='q1_other')
        br
        label.answer(data-i18n='mgrp-misc-q2')
        .row
            label.answer.secondary(data-i18n="mgrp-misc-q2-opt-myself") 
            p.form-answer(field='q2_self')
        .row
            label.answer.secondary(data-i18n="mgrp-misc-q2-opt-relative") 
            p.form-answer(field='q2_relative')
        .row
            label.answer.secondary(data-i18n="mgrp-misc-q2-opt-caregiver") 
            p.form-answer(field='q2_caregiver')

            
            
            
            