// Injury
#panel-3.input-panel.center-aligned(name='injury_details', style={display: 'none'})
    h4(data-i18n='mgrp-header-injury') Injury Details
    br 
    // 1st row  
    .row
        label.question(for="cbxImplant", data-i18n="mgrp-lbl-date-of-injury") Date of Injury
        #dtpDateInjury.input-group.date.datetimepicker
            input/.form-control(name='date_injury', type='text')
            span.input-group-addon:  span.glyphicon.glyphicon-calendar

    // 2nd row
    .row
        label.question(for="cbxAccident", data-i18n="mgrp-lbl-dauseb-by-accident") Was the injury caused by an accident?
        input/.cbx-toggle(name='accidental_injury', type="checkbox", data-toggle="toggle", data-on="Yes", data-off="No", data-onstyle="success")
