// Miscellaneous
#panel-6.input-panel.center-aligned(name='misc', style={display: 'none'})
    h4(data-i18n='mgrp-header-misc') Injury Details
    br 
    
    .misc-list-container
        h5(data-i18n='mgrp-misc-q1') How did you find us?
        // 1st row  
        .row
            label.question.secondary(data-i18n="mgrp-misc-q1-opt-doctor") 
            input/.cbx-toggle.misc(name='q1_doctor', type="checkbox", data-toggle="toggle", data-on="Yes", data-off="No", data-onstyle="success")
        // 2nd row  
        .row
            label.question.secondary(data-i18n="mgrp-misc-q1-opt-caregiver") 
            input/.cbx-toggle.misc(name='q1_caregiver', type="checkbox", data-toggle="toggle", data-on="Yes", data-off="No", data-onstyle="success")
        // 3rd row  
        .row
            label.question.secondary(data-i18n="mgrp-misc-q1-opt-relative") 
            input/.cbx-toggle.misc(name='q1_relative', type="checkbox", data-toggle="toggle", data-on="Yes", data-off="No", data-onstyle="success")
        // 4th row  
        .row
            label.question.secondary(data-i18n="mgrp-misc-q1-opt-internet") 
            input/.cbx-toggle.misc(name='q1_internet', type="checkbox", data-toggle="toggle", data-on="Yes", data-off="No", data-onstyle="success")
        // 5th row  
        .row
            label.question.secondary(data-i18n="mgrp-misc-q1-opt-tv") 
            input/.cbx-toggle.misc(name='q1_tv', type="checkbox", data-toggle="toggle", data-on="Yes", data-off="No", data-onstyle="success")
        // 6th row  
        .row
            label.question.secondary(data-i18n="mgrp-misc-q1-opt-other") 
            input/.cbx-toggle.misc(name='q1_other', type="checkbox", data-toggle="toggle", data-on="Yes", data-off="No", data-onstyle="success")
        br

        h5(data-i18n='mgrp-misc-q2') Who is filling this form??
        // 1st row  
        .row
            label.question.secondary(data-i18n="mgrp-misc-q2-opt-myself") 
            input/.cbx-toggle.misc(name='q2_self', type="checkbox", data-toggle="toggle", data-on="Yes", data-off="No", data-onstyle="success")
        // 2nd row  
        .row
            label.question.secondary(data-i18n="mgrp-misc-q2-opt-relative") 
            input/.cbx-toggle.misc(name='q2_relative', type="checkbox", data-toggle="toggle", data-on="Yes", data-off="No", data-onstyle="success")
        // 3rd row  
        .row
            label.question.secondary(data-i18n="mgrp-misc-q2-opt-caregiver") 
            input/.cbx-toggle.misc(name='q2_caregiver', type="checkbox", data-toggle="toggle", data-on="Yes", data-off="No", data-onstyle="success")

