$height-sm: 50px;
$height-lg: 70px;

.content {
//    height: $height-sm;
//    overflow-y: auto;
    display: block;
    height: calc(100% - 65px);
    margin-top: 10px;
}

.btn-primary-mg {
    color: #fff;
    background-color: #4d9d2a;
    border: 1px solid #4a9a27;

    &:hover {
        background-color: #459522;
        color: #eee;
    }
}

$screen-sm-min: 768px;
$screen-md-min: 992px;

@media (min-width: $screen-md-min) {

    .content {
        height: calc(100% - 90px) !important;
        overflow-y: auto;
    }

}
