$height-sm: 50px;
$height-lg: 70px;

.content {
    display: block;
    position: relative;
    height: calc(100% - 50px);

    @include tablet-portrait {
        top: 10px;
        height: calc(100% - 65px);
    }
    @include tablet-landscape {
        height: calc(100% - 85px) !important;
        overflow-y: auto;
    }
}

.btn-primary-mg {
    color: #fff;
    background-color: #4d9d2a;
    border: 1px solid #4a9a27;

    &:hover {
        background-color: #459522;
        color: #eee;
    }
}
