.footer {
    position: absolute;
    height: 25px;
    width: 100%;
    background-color: #f5f5f5;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    color: #777;
    border-top: 1px solid #e5e5e5;

    @include tablet-portrait {
        position: absolute;
        bottom: 0;
        height: 60px;
        padding-top: 19px;
    }

    p {
        font-size: 1em;

        @include tablet-portrait {
            font-size: 1.2em;
        }
    }
}
