$header-height-lg: 70px;
$header-height-sm: 50px;

header {
    @extend .affix-top;
    display: block;
    top: 0px;
//    height: 70px;
    height: $header-height-sm;
    height: 50px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 999;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0px 1px 4px #ddd;

    .navbar {
        position: fixed;
        height: $header-height-sm;
        width: 100%;
        margin: 0px;

        .container-fluid {
            height: 100%;
        }

        .navbar-header {
            height: 100%;
            .navbar-brand {
                padding: 0px 15px;
                height: 100%;

                img {
                    display: inline-block;
                    float: left;
                    height: 100%;
                    width: 70px;
                }

                .title {
                    display: none;
                    float: left;
                    height: calc(100% - 2px);
                    margin: 0px 16px;
                    color: #ed1848;
                    h3 {
                        font-weight: 800;
                        font-size: 1.4;
                    }
                }
            }

            button.navbar-toggle {
                margin-top: 5px;
                border-color: #ed1848;

                &:hover {
                    background: #eee;
                }
                .icon-bar {
                    background: #ed1848;
                    height: 3px;
                }
            }
        }
    }

    .navbar-collapse {
        width: 100%;
        height: 100%;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    ul.nav.menu {
        height: auto;
//        float: right;
//        height: 48px;
        background: rgba(252,252,252,1);

        li {
            height: 100%;
            & > a {
                height: 100%;
                border-radius: 0px;
                padding: 15px 30px;
                font-size: 1.4em;
                line-height: 1.7em;
                text-transform: capitalize;
                background-color: transparent;
                color: #000;
            }
            &:hover > a {
                color: #fff;
                background-color: #4d9d2a;
            }
            &.active > a {
                color: #fff;
                background-color: #ed1848;
                box-shadow: 0px 2px #ed1848;
            }
            &.user {
                background-color: rgba(230,230,230,1);
                & > a {
                    text-transform: lowercase;
                    span.fa-user {
                        position: relative;
                        top: -1px;
                        font-size: 0.8em;
                        color: #ed1848;
                    }
                    h5 {
                        display: inline-block;
                        position: relative;
                        top: -2px;
                        margin-left: 5px;
                        margin-right: 5px;
                        font-size: 0.8em;
                    }
                    span.caret {
                        position: relative;
                        top: -2px;
                    }
                }
            }

            &.flag-container {
                display: inline-block !important;
                background: transparent;

                &:hover {
                    background-color: transparent !important;
                }
                &.active {
                    background: transparent;
                }

                a.flag {
                    display: inline-block;
                    margin: 0px;
                    padding: 15px 30px;
                    text-decoration: none;
                    cursor: pointer;

                    &.active {
                        background: transparent;
                        box-shadow: none;
                    }

                    &:before {
                        content: '';
                        display: inline-block;
                        background-repeat: no-repeat;
                        width: 16px;
                        height: 11px;
                    }
                    &.flag-de:before { background-image: url(/media/de.png); }
                    &.flag-en:before { background-image: url(/media/gb.png); }
                    &.active:before {
                        box-shadow: 1px 1px 4px #888, -1px -1px 4px #888, 1px -1px 4px #888, -1px 1px 4px #888;
                    }
                    &:hover {
                        background-color: transparent;
                        &:before { transform: scale(1.1); }
                    }
                    &.active:hover {
                        &:before { transform: none; }
                    }
                }

            }

        }

        & > li + li {
            margin-left: 0px;
        }
    }

    .nav.flag-container {
        display: inline-block;
        height: 100%;
        padding: 9px 30px;

        li {
            &:hover {
                background-color: transparent;
            }
            &.active {
                //background: #ddd;
            }

            a.flag {
                display: inline-block;
                margin: 0px 3px;
                text-decoration: none;
                cursor: pointer;
                &:before {
                    content: '';
                    display: inline-block;
                    background-repeat: no-repeat;
                    width: 16px;
                    height: 11px;
                }
                &.flag-de:before { background-image: url(/media/de.png); }
                &.flag-en:before { background-image: url(/media/gb.png); }
                &.active:before {
                    box-shadow: 1px 1px 4px #888, -1px -1px 4px #888, 1px -1px 4px #888, -1px 1px 4px #888;
                }
                &:hover {
                    background-color: transparent;
                    &:before { transform: scale(1.1); }
                }
                &.active:hover {
                    &:before { transform: none; }
                }
            }

        }
    }

    .nav.navbar-second-level {
        li {
            a {
                font-size: 0.9em;
                padding-top: 5px;
                padding-bottom: 5px;
                text-transform: lowercase;
            }
        }
    }

}


$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xl-min: 1530px;




@media (min-width: $screen-md-min) {

    header {
        height: $header-height-lg;

        .navbar {
            height: $header-height-lg;
        }

        .navbar-header {

            img {
                width: 120px !important;
            }

            .title {
                display: inline-block !important;
            }
        }
        ul.nav.menu {
            height: calc(#{$header-height-lg} - 2px) !important;

            a.flag {
                padding: 15px 20px !important;
            }
        }
    }

}


@media (min-width: $screen-sm-min) {

    header {
        ul.nav.menu {
            height: calc(#{$header-height-sm} - 2px) !important;
        }
    }

}



