.modal {

    p.bg  {
        padding: 10px !important;
        border-radius: 5px;

        &.error {
            @extend .bg-danger;
        }
    }

    label.question {
        @extend .col-sm-10, .col-md-9, .col-lg-8;
        margin-top: 5px;
    }

    .form-control-feedback[aria-hidden="true"] {
        display: none;
    }

    .has-feedback .form-control-feedback[aria-hidden="true"] {
        display: inline-block;
    }

}

