
#modal-change-password.modal.fade(tabindex='-1', role='dialog', aria-labelled-by='#modal-change-password-title')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='close', data-dismiss='modal', aria-label='Close'): span(aria-hidden='true') &times;
                h4#modal-change-password-title.modal-title Change Password
            .modal-body
                form#form-change-password
                    .form-group
                        label(for='current-password') Current Password
                        input.form-control(type='password', name='current_password', autofocus)
                        //legend New password should contain letters and numbers and at least 8 characters
                    p.bg.bg-info New password should contain letters and numbers and at least 8 characters
                    .form-group
                        label(for='new-password') New Password
                        input.form-control(type='password', name='new_password')
                    .form-group
                        label(for='repeat-password') Repeat Password
                        input.form-control(type='password', name='repeat_password')
                    p.error.fade
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
                button#btn-submit-password.btn.btn-primary-mg(type='submit', data-dismiss='submit', for='#form-change-password') Save Changes
