extends layout

mixin table(id)
    .table-responsive.table-border
        table.table.table-condensed.table-stripped(id=id)
            thead
                th  #
                th  Name
                th  Email
                th  Phone
                th  Registered
                th  Status
            tbody

block tab-home
    li.active:  a(href='/matchmaking1/home') Home

block content
    .row
        .home-col
            h5 Registered Candidates
                a(href='/matchmaking1/registrations', title='Go to New Registrations'): i.open-icon
            +table('table-registered')

        .home-col
            h5  Accepted Candidates
            +table('table-accepted')


block custom-js
    //-<!-- build:js (./public) /js/mm-home.min.js -->
    script(src='/js/helper.js')
    script(src='/js/mm/home.js')
    //-<!-- endbuild -->
