doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width')
        title= title

        //  bower:css
        link(rel='stylesheet', href='/components/bootstrap-toggle/css/bootstrap-toggle.min.css')
        link(rel='stylesheet', href='/components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
        link(rel='stylesheet', href='/components/jquery-ui/themes/base/jquery-ui.min.css')
        link(rel='stylesheet', href='/components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css')
        //  endbower

        block css
            link(rel='stylesheet', href='/css/mm-style.css')

        block livereload
            if ENV_DEVELOPMENT
                script(src='http://localhost:35729/livereload.js')

    body
        header.affix-top
            nav.navbar
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#mg-navbar-collapse', aria-expanded='false')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='#')
                            img(src='/media/moregrasp-logo.jpg', height='68', width='120')
                            div.title:  h3(data-i18n='mgrp-title')=title
                    #mg-navbar-collapse.navbar-collapse.collapse(aria-expanded=true)
                        ul.nav.navbar-nav.navbar-right.menu
                            if(user)
                                block tab-home
                                    li:  a(href='/matchmaking1/home') Home
                                block tab-registration
                                    li:  a(href='/matchmaking1/registrations') Registrations
                                //block tab-about
                                    li:  a(href='#') About
                                block tab-user
                                    li.dropdown.user
                                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                            span.fa.fa-user
                                            h5.user-name=user.login.username
                                            span.caret
                                        ul.dropdown-menu.nav.navbar-second-level
                                            li:  a(href='#', data-toggle='modal', data-target='#modal-settings') Settings
                                            li:  a(href='#', data-toggle='modal', data-target='#modal-change-password') Change Password
                                            li:  a(href='/matchmaking1/logout') Logout

        if(user)
            // modal settings
            include _modal_settings
            // modal change password
            include _modal_change_password

        // content
        .content
            .container.container-main
                block content

        .footer:  .container:  p © MoreGrasp 2016

        block bower-js
            // bower:js
            script(src='/components/jquery/dist/jquery.js')
            script(src='/components/bootstrap-sass/assets/javascripts/bootstrap.js')
            script(src='/components/bootstrap-toggle/js/bootstrap-toggle.min.js')
            script(src='/components/moment/moment.js')
            script(src='/components/moment-timezone/builds/moment-timezone-with-data-2010-2020.js')
            script(src='/components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
            script(src='/components/jquery-ui/jquery-ui.min.js')
            script(src='/components/jquery-mousewheel/jquery.mousewheel.js')
            script(src='/components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js')
            script(src='/components/d3/d3.js')
            script(src='/components/d3pie/d3pie/d3pie.min.js')
            script(src='/components/lodash/lodash.js')
            script(src='/components/jquery.cookie/jquery.cookie.js')
            // endbower

        block validation
            //-<!-- build:js (./public) ./dist/public/js/validation.min.js -->
            script(src='/js/field-validation.js')
            script(src='/js/mm/password-and-settings-chage.js')
            //-<!-- endbuild -->

        block custom-js


