// MATCHMAKING SCSS

//$icon-font-path: "/../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "../../components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../components/font-awesome/scss/font-awesome.scss";
// endbower

@import "../header";
@import "../content";
@import "../footer";
@import "../mixins/custom-mixins";
@import "home";
@import "overview";
@import "filters";
@import "details";


html {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Space out content a bit */
body {
    width: calc(100% - 8px);
    height: calc(100% - 78px);
    margin: 4px;
    overflow: hidden;
}




.container {
    height: 100%;
}

.container-narrow > hr {
    margin: 30px 0;
}




/*******************************************************************************************************/

$marginLarge: 50px;


.container-main {
    //height: calc(100% - 80px);
    overflow-y: auto;

    .row {
        height: auto;

        .col {
            height: auto;
            padding-bottom: 5px;

            &.col-70, &.col-30 {
                height: auto;
            }
        }
    }

    .panel {
//        margin: 0px !important;
        height: 100%;
        float: left;
        display: inline-block;
        width: 100%;

        .panel-heading {

            h3.panel-title {
                display: inline-block;
                font-weight: bold;
                color: #ed1848;
                font-size: 1.2em;
            }

            button.btn.pull-right {
                position: relative;
                top: -7px;

                &.fa {
                    top: -4px;
                }
            }

            .collapse-icon {
                position: relative;
                right: -4px;
                margin-left: 12px;
                font-size: 18px;
            }
        }

        .panel-body {
            height: calc(100% - 37px);
            padding: 5px;

        }
    }


    #panel-overview {
        height: calc(60% - 10px);
        margin-top: 5px;
        margin-bottom: 5px;
        display: inline-block;

        .panel-body {
            padding: 5px;
            width: 100%;
            //            height: calc(100% - 38px);
        }

    }

}


/******************************************************************************************/
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xl-min: 1530px;


/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-sm-min) {

//    body {
//        font-size: .7em;
//    }

    .container {
        width: 100%;
        margin: 0px 0px;

        .panel {
            .panel-heading {
                .collapse-icon {
                    display: none;
                }
            }

            &#panel-filters > .panel-body {
                width: calc(100%);
                height: calc(100% - 38px);
            }
        }
    }

    .container-main {
        overflow-y: hidden !important;
        > .row {
            height: 100%;
            .col {
                height: 100%;
                &.col-70 {
                    height: 65%;
                }
                &.col-30 {
                    height: 35%;
                }
            }
        }
    }



    #overview-container {
        height: calc(100% - 38px) !important;
    }

}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-xl-min) {
    .btn-group-adaptive {
        .btn {
            width: 80%;
            min-width: 100px;
            border-radius: 0px;
            &:first-child {
                border-top-left-radius: 3px !important;
                border-top-right-radius: 3px !important;
            }
            &:last-child {
                border-bottom-left-radius: 3px !important;
                border-bottom-right-radius: 3px !important;
            }
            &:not(:first-child) {
                margin-left: 0px;
            }
        }
    }

}



@media (min-width: $screen-md-min) {

    .container {
        width: calc(100% - 10px);
        margin: 0px 5px;
    }

    #user-photo {
        width: 36px !important;
        height: 36px !important;
    }
}


@media (min-width: $screen-lg-min) {

    .container {
        width: calc(100% - 20px);
        margin: 0px 10px;
    }
    #user-photo {
        width: 48px !important;
        height: 48px !important;
    }


}


@media (min-width: $screen-xl-min) {


    #user-photo {
        width: 64px !important;
        height: 64px !important;
    }
}




