/////////////// FAQ

.nav-panel#faq {

    height: 100% !important;
    overflow-y: auto;

    .question-container {
        /*min-height: 170px;*/
        padding: 10px;
        margin: 3px;
        border: 1px solid transparent;
        box-shadow: 2px 2px 5px #888, -2px 2px 5px #888;

        @include tablet-portrait {
            padding: 15px 20px;
        }

        @include tablet-landscape {
            min-height: 218px !important;
        }

        .question-list {
            clear: both;
            font-size: 1.1em;

            @include tablet-portrait {
                font-size: 18px;
            }
            @include tablet-landscape {
                float: left;
            }

            i.fa {
                margin-right: 3px;
                color: #428bca;
            }
        }
        img {
            display: none;
            float: right;
            @include tablet-landscape {
                display: inline-block !important;
                width: 220px;
            }
            @include desktop {
                width: 250px;
            }
        }
    }

    .answer-container {

        .inner {
            margin: 25px 15px;
            border-bottom: 1px solid #ddd;

            i.fa {
                margin-right: 5px;
            }
            h4 {
                font-size: 1.4em;
                color: #4d9d2a;
                font-weight: bold;
            }
            p {
                font-size: 1.2em;
            }
        }

    }

}
