/////////////// FAQ

.nav-panel#faq {

    height: 100% !important;
    .question-container {
        min-height: 170px;
        padding: 15px 20px;
        box-shadow: 2px 2px 5px #888, -2px 2px 5px #888;
        .question-list {
            float: left;
            font-size: 1.1em;
            i.fa {
                margin-right: 3px;
                color: #428bca;
            }
        }
        img {
            display: none;
            float: right;
        }
    }

    .answer-container {

        .inner {
            margin: 25px 15px;
            border-bottom: 1px solid #ddd;

            i.fa {
                margin-right: 3px;
            }
            h4 {
                font-size: 1.4em;
                color: #4d9d2a;
            }
            p {
                font-size: 1.1em;
            }
        }

    }

}


$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xl-min: 1530px;

@media (min-width: $screen-sm-min) {
    .question-container {
        img {
            display: inline-block !important;
            width: 220px;
        }
    }
}

@media (min-width: $screen-md-min) {
    .question-container {
        min-height: 218px !important;
        img {
            display: inline-block !important;
            width: 300px;
        }
    }
}
