/////////////// HOME

.nav-panel#home {

    p.white-msg {
        margin: 6px;
        color: white;
        a {
            font-weight: bold;
        }
    }

    .intro {
        padding: 5px;
        margin: 6px 10px 3px;
        position: relative;
        box-shadow: 2px 2px 5px #999, -2px 2px 5px #999;
        left: 1000px;

        @include tablet-portrait-strict {
            margin: 0px 60px 20px;
            padding: 10px;
        }

        @include tablet-landscape {
            margin: 0px 60px 20px;
            padding: 5px;
        }

        p {
            font-size: 11px;

            @include tablet-portrait-strict {
                font-size: 18px;
            }

            @include tablet-landscape-strict {
                font-size: 16px;
            }

            @include desktop {
                font-size: 18px;
            }
        }
    }

    .message {
        padding: 3px;
        left: 1000px;
        z-index: 999;
        left: 1000px;
        box-shadow: 2px 2px 5px #555, -2px 2px 5px #555;
        position: relative;
        display: block;
        margin: 0px -9px 6px 0px;
        width: auto;
        text-align: center;
        top: -10px;

        @include tablet-portrait {
            position: absolute;
            width: 370px;
            margin: 15px 80px 20px calc(100% - 360px);
            padding: 5px;
            top: auto;
        }
        @include desktop {
            padding: 10px;
        }

        p {
            font-size: 12px;

            @include tablet-portrait {
                font-size: 16px;
            }
        }
    }

    .video-container-outer {
        width: 100%;
        height: 180px;        
        text-align: center;
        box-shadow: 2px 2px 5px #888, -2px -2px 5px #888, -2px 2px 5px #888, 2px -2px 5px #888;
        box-shadow: 2px 2px 5px #999, -2px 2px 5px #999;
        @include linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.8), rgba(0,0,0,1));
        position: relative;
        left: -1000px;

        @include tablet-strict {
            height: 320px;
            padding: 10px 0px;
        }
        @include desktop {
            height: 420px;
            padding: 10px 0px;
        }

         .video-container {
            display: inline-block;
            height: 180px;
            width: 237px;
            margin: auto;            

            @include tablet-strict {
                height: 300px;
                width: 336px;
            }
            @include desktop {
                height: 400px;
                width: 448px;
            }
        }
    }

    .info-area {
        margin: 15px;
        font-size: 1.2em;
    }

}
