/////////////// REGISTRATION FORM

.nav-panel#register {
    box-shadow: 2px 2px 5px #888, -2px 2px 5px #888;
//    top: 15px;

    .form-section {
//        height: auto;
        height: 335px;
        overflow-x: hidden;
        margin-top: 15px;

        .input-panel {
            @extend .col-sm-12, .col-md-12, .col-lg-10, .col-lg-offset-1;
            margin-bottom: 10px;
            text-align: left;

            h4, h5 {
                font-weight: bold;
                -webkit-margin-before: 0px;
            }

            h4 {
                font-size: 1.7em;
            }

            h5 {
                font-weight: bold;
                font-size: 1.5em;

                &.misc-question {
                    @extend .col-sm-offset-1;
                }
            }

            .row {
                margin: 24px 0px 0px;
            }

            .form-group {
                @extend .col-xs-12, .col-sm-6, .col-md-6, .col-lg-6;
                margin-bottom: 25px;

                label {
                    font-size: 1.5em;
                    padding-top: 8px;
                    padding-right: 5px;
                }

                .form-control {}

                span[aria-hidden='true'] {
                    @extend .fade;
                }

                &.sm {
                    @extend .col-xs-12, .col-sm-3, .col-md-3, .col-lg-3;
                }
            }

            .toggle-wrapper {
                @extend .col-xs-12, .col-sm-2, .col-md-2, .col-lg-2;
                padding-left: 0px;
                padding-right: 0px;

                .toggle {
                    float: left;

                    label {
                        font-size: 1.0em;
                        &.toggle-on {
                            @extend .btn-primary-mg;
                            text-align: left;
                        }
                        &.toggle-off {
                            padding-left: 26px;
                            text-align: left;
                        }
                    }
                }
            }

            .toggle {

                label {
                    font-size: 1.0em;
                    &.toggle-on {
                        @extend .btn-primary-mg;
                        text-align: left;
                    }
                    &.toggle-off {
                        padding-left: 26px;
                        text-align: left;
                    }
                }
            }

            .datetimepicker {
                @extend .col-xs-12, .col-sm-3, .col-md-3, .col-lg-3;
                padding-left: 0px;
                padding-right: 0px;
            }


            div.terms-container {
                height: 400px;
                width: 100%;
                border-radius: 4px;
                border: 1px solid #ddd;
                overflow-y: auto;
                margin: 10px 0px;
                padding: 10px;
                background-color: #efefef;
                font-size: 1.2em;

                p {
                    text-align: justify;
                    line-height: 1.2em;
                    font-size: 1em;
                }
                ul > li {
                    font-size: 1em;
                    line-height: 1.2em;

                    & ~ li {
                        margin-top: 5px;
                    }
                }

            }

            div.disclaimer {
                @extend .alert, .alert-danger, .sizable;
                font-size: 1.2em;
            }

            div.accept-terms-container {
                float: left;
                margin: 10px 0px;
                padding: 5px;

//                input[type="checkbox"] {
//                    margin: 4px;
//                }

                #lblTermsAccepted {
                    margin: 10px;
                    font-size: 1.3em;
                    font-weight: bold;
                }
            }

            p {
                text-align: center;
                &.explanation {
                    display: inline-block;
                    text-align: left;
                    padding: 5px 15px;
                    font-size: 1.3em;
                }
                &.form-answer {
                    @extend p.explanation;
                    display: inline-block;
                    width: auto;
                    margin: 0px;
                    padding: 0px 15px;
                    font-size: 18px;
                    font-weight: normal;

                    &.block {
                        display: block;
                    }
                }
            }

            label {
//                font-size: 1.1em;
                &.question {
                    @extend .col-xs-offset-0, .col-xs-10, .col-sm-offset-2, .col-sm-6, .col-md-offset-2, .col-md-6, .col-lg-offset-2, .col-lg-6;
                    text-align: left;
                    margin-top: 8px;
                    padding-left: 0px !important;
                    padding-right: 0px !important;
                    font-size: 1.5em;
                    line-height: 1.5em;
                    &.shorter {
                        @extend .col-sm-5, .col-md-5, .col-lg-5;
                    }

                    &.secondary {
//                        padding-left: 50px !important;
                        font-weight: normal !important;
                    }
                }
                &.answer {
                    margin: 0px;
                    font-size: 1.4em;

                    &.secondary {
                        font-weight: normal;
                    }

                    p {
//                        font-size: 1.0em;
                    }
                }
            }


            .form-control.for-question {
                @extend .col-sm-8, .col-sm-offset-2;
            }



            // mandatory field asterisk
            i.fa-asterisk {
                display: inline-block;
                margin-left: 3px;
                position: relative;
                top: -5px;
                color: #ed1848;
                font-size: 8px;
            }

            /* html5 file uploader*/
            div#file-uploader {
                @extend .col-xs-12, .col-sm-10, .col-sm-offset-1;
                margin-top: 15px;

                #file-drop-zone {
                    border:2px dotted #ddd;
                    /*color: #DADCE3;*/
                    color: #bbb;
                    text-align:left;
                    vertical-align:middle;
                    padding: 15px 10px;
                    border-radius: 4px;
                    //  margin: @line-height-computed;
                    @include center-block();
                }

                .btn-file-upload {
                    @extend .btn, .btn-primary-mg;
                    height: 42px;
                    position: relative;
                    margin: 0px 20px 0px 0px;
                    padding: 10px 16px;
                    box-shadow: none;
                    font-size: 18px;
                    line-height: 1.33333;
                    cursor: pointer;

                    input[type="file"] {
                        display: inline-block !important;
                        position: absolute;
                        cursor: pointer;
                        top: 0px;
                        width: 100%;
                        height: 100%;
                        left: 0px;
                        z-index: 100;
                        opacity: 0;
                    }
                }

                label {
                    position: relative;
                    top: 2px;
                }
            }

            output#file-list {
                width: 80%;
                margin: auto;

                li {
                    display: block;
                }

                .btn-file-output {
                    @extend .btn, .btn-xs;
                    display: inline-block;
                    position: relative;
                    margin-left: 7px;
                    box-shadow: none;
                    color: #fff;

                    &.red {
                        @extend .btn-danger;
                    }
                }
            }


            #mulitplefileuploader {
                width: 80%;
                margin: auto;
            }

            .btn-group-vertical {
                @extend  .col-lg-4, .col-md-4, .col-sm-4, .col-xs-12;
                &.sm { @extend .col-md-2, .col-sm-2, .col-xs-12; }
            }



            div.answer-container {
                @extend .col-xs-12, .col-sm-8, .col-sm-offset-2, .col-md-4, .col-md-offset-0;
                min-height: auto;
                margin-bottom: 20px;
                padding: 10px;
                float: left;

                &.sm, &.lg {
                    height: auto;
                }

                &.no-marign-bottom {
                    margin-bottom: 0px;
                }

                h5 {
                    font-size: 1.5em;
                    color: rgb(237, 24, 72);
                    font-weight: bold;

                    i.edit-answer {
                        @extend .fa, .fa-pencil;
                        margin-left: 5px;
                        font-size: 1.2em;
                        color: #333;
                        cursor: pointer;
                        &:hover {
                            transform: scale(1.1);
                        }
                        a {
                            text-decoration: none;
                        }
                    }
                }

                .row {
                    margin: 7px 0px;
                }
            }

            p.error {
                @extend .bg-danger;
                display: inline-block;
                float: left;
                padding: 5px;
                border-radius: 5px;
                font-size: 1.2em;
            }

        }

        .input-panel-submitted {
            @extend .input-panel;
        }
    }




    /** control area **/
    .controls-section {
        position: relative;
        //    bottom: -10px;
        height: 135px;
        margin-top: 10px;
        padding: 10px 0px;
        text-align: center;

        .progress {
            width: 70%;
            margin: auto;
        }

        .progress-steps-container {
            display: none;
            width: 70%;
            height: 20px;
            margin: 5px auto;

            .progress-step {
                display: inline-block;
                float: left;
                height: 100%;
                text-align: center;
                padding-left: 3px;
                padding-right: 3px;
                a {
                    color: #555;
                    font-size: 0.8em;
                    text-decoration: none;
                    cursor: text;
                }
                &.complete a {
                    font-weight: bold;
                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}


$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1024px;
//$screen-lg-min: 1281px;
$screen-xl-min: 1530px;

$tablet-portrait: "(min-width: 768px)";
$tablet-landscape: "(min-width: 992px)";
$desktop: "(min-width: 1025px)";


@media #{$tablet-portrait} {

    .form-section {
        height: calc(100% - 140px) !important;
    }

    div.terms-container {
        height: 225px !important;
    }

    div#file-uploader {
        width: 80%;
    }

    .toggle-wrapper .toggle {
        float: right !important;
    }


}


@media #{$tablet-landscape} {

    .form-section {
        height: calc(100% - 150px) !important;
    }

    .input-panel {
//        h4 {
//            font-size: 1.5em;
//        }
//        h5 {
//            font-size: 1.2em;
//        }
//        .row {
//            margin: 15px 0px 0px !important;
//        }
//
//        .form-group label, label.question, p.explanation {
//            font-size: 1.2em !important;
//        }
//
//        label.answer {
//            font-size: 1em !important;
//        }

    }


    div.answer-container {
        &.sm {
            height: 260px !important;
        }
        &.lg {
            height: 320px !important;
        }

        .row {
            margin: 7px 0px 0px  !important;
        }
    }

}


@media #{$desktop} {

    .input-panel {
        row {
            margin: 15px 0px;
        }

        h4 {
            font-size: 1.5em;
        }
        h5 {
            font-size: 1.2em;
        }
        .row {
            margin: 15px 0px 0px !important;
        }

        .form-group label, label.question, p.explanation {
            font-size: 1.2em !important;
        }

        label.answer {
            font-size: 1em !important;
        }

        .controls-section .btn, .btn-file-upload {
            height: 120px !important;
            font-size: 15px !important;
            padding: 6px 12px !important;
            border-radius: 4px !important;
        }

        .btn-file-upload {
            height: 34px !important;
        }

        div.answer-container {
            &.sm {
                height: 200px !important;
            }
            &.lg {
                height: 265px !important;
            }

            .row {
                margin: 7px 0px 0px  !important;
            }
        }

    }

    div.progress-steps-container {
        display: block !important;
    }


}
