
// bower:scss
@import "../../components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../components/font-awesome/scss/font-awesome.scss";
// endbower

//@import "file-upload";
@import "../header";
@import "../content";
@import "../footer";
@import "../mixins/custom-mixins";
@import "home";
@import "register";
@import "faq";


html {
    position: relative;
    height: 100%;
    overflow-y: hidden;
}

/* Space out content a bit */
body {
    width: 100%;
    height: calc(100% - 80px);
    margin-bottom: 70px;
}

.container {
    height: 100%;
}

.bg-mg {
    background-image: url(/media/moregrasp-logo.jpg);
    background-repeat: repeat;
    width: 100%;
    height: 100%;
}

.nav-panel {
    @extend .col-sm-12, .col-md-12, .col-lg-12;
    height: calc(100% - 5px);
    &.fade { display: none !important; }
}


///////////// BUTTONS
.button-area {
    position: relative;
//    bottom: -10px;
    height: 35px;
    margin: 20px 0px 10px 0px;
    text-align: center;
    .btn {
        min-width: 83px;
        margin: 0px 2px;
    }
}


div.bg-processing {
    display: block;
    position: absolute;
    top: 70px;
    left: 0px;
    width: 100%;
    height: calc(100% - 70px);
    background-color: rgba(0,0,0,0.5);

    div.loading {
        position: relative;
        top: calc(50% - 64px);
        width: 128px;
        height: 128px;
        margin: auto;
        background-image: url(/media/processing.gif);
        background-color: transparent;
        background-repeat: no-repeat;
    }
}


/*******************************************************************************************************/

$marginLarge: 50px;

.center-aligned {
    text-align: center;
}

.margin-l {
    @include margin($marginLarge);
}


.sizable {
    @extend .col-lg-12, .col-md-12, .col-sm-12;
    /*@extend .col-lg-offset-1, .col-lg-10, .col-md-offset-1, .col-md-10, .col-sm-offset-0, .col-sm-12;*/
}

.alert {
    margin-bottom: 0px;
}




/******************************************************************************************/
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xl-min: 1530px;


/* Responsive: Portrait tablets and up */
@media screen and (max-width: $screen-sm-min) {

    body {
        overflow-y: hidden;
    }
    .container {
        max-width: 750px;
//        max-height: 100%;
        overflow-y: hidden !important;

        .form-section {
        //.panel-container {
            height: 335px !important;
        }
    }

    /* Remove the padding we set earlier */
    header,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    header {
        margin-bottom: 30px;
    }

    div.progress-steps-container {
        display: none !important;
    }
}


@media (min-width: $screen-sm-min) {
    .form-section {
        height: calc(100% - 150px) !important;

        div.answer-container.large {
            min-height: 256px !important;
        }
    }
}
